# Environment variables
.env

# Python cache
__pycache__/
*.pyc

# Heavy model files & binary artifacts
models/
outputs/**/*.zip
*.bin
*.pt
*.pth
*.zip

# Local data / Journal
./journal/USB_2026
./journal/human_audit_remaining.xlsx

# Office temp lock files
~$*

